<h1>Post Meal!</h1>

<div class = "container">
<h2>Share your meal with us!</h2>

<form class = "create-form">
    <div class = "form-group">
        <label for = "re">Recipe Name</label>
        <input type ="text" id="re" name="name">
    </div>
</form>
</div>

<div class ="container">
    <h2>Meals Posted</h2>
    <div class="card" style="width: 18rem;">
  <ul>
   {{#each recipe}}
  </ul>
</div>
</div>
