
/* Nav Bar Styling */
#navBar{
  background-color: white;
  padding: 0px;
}

#navbarNav{
  justify-content: flex-end;
}

#nav2{
  background-color: white;
  padding: 0px;
}

.navbar-light .navbar-brand {
  color: olive;
  font-size: 28px;
}

.navbar-expand-lg{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Header Styling */
h1 {
  text-align: center;
  font-family: 'Damion', cursive;
  margin-top: 10px;
  font-size: 70px;
}

h4 {
  text-align: center;
  color: black;
  font-family: 'Oswald', sans-serif;
  margin-top: 5px;
  font-size: 20px;
}

#loginHeader{
  background-image: url(bonebrothchickenstock-articleLarge2.jpg);
  background-size: 100%;
  color: white;
  text-shadow: 0px 0px 15px #2c2c2c;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Damion', cursive;
  font-size: 100px;
  text-align: center;
  border-radius: 5px;
}

#signUpHeader{
  font-family: 'Damion', cursive;
  text-align: center;
  font-size: 50px;

}

/* Login Form Styling */
.login{
  background-color: rgb(70, 88, 2);
  font-size: 20px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
}

form.login {
  margin-top: 0px;
}

.btn {
  margin-top: 15px;
  margin-left: 40%;
  background-color: black;
  color: white;
  width: 20%;
  border-width: 0px;
  font-family: 'Oswald', sans-serif;
}

label{
  color: rgb(223, 223, 171);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
}

#pSignUp{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: grey;

/* Sign up page styling */

}

#signUpForm{
  background-color: rgb(70, 88, 2);
  border-radius: 5px;
  padding: 20px;
}

#pLogin{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: grey;
}

/* Recipe creation form styling */
.pRecipe{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
  color: rgb(223, 223, 171);
  font-size: 20px;
}

a{
  color: olive;
}

#newRecipeForm{
  background-image: url(mise-en-plase3.jpg);
  background-size: 100%;
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

#chirp-submit{
  background-color: black;
}





